/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/ 
html{
  margin: 0px;
  padding: 0px;
  background-color:#585B56;
}

body{
  background-color: #3B0D11;
  margin:0px;
  text-align: center;
}

header, div.bottom {
  background-color:#585B56 ;
}

div.bottom h3, div.bottom p{
  margin: 0px;
  padding: 0px;
  color:#ffecdb;
}

Header h1{
  margin: 0px;
  text-align: center;
  color:#ffecdb;
}

main {
  color:#ffecdb;
}